@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Story+Script&display=swap');


* {
  margin: 0;
  padding: 0;
}
 
:root {
  --mostrando: silver;
  --esperando: gray;
  --flotando: darkred;
}

body{
  background: darkred;
  color: #000;

} 
 
a:hover{
  color:#c55;
  text-decoration: underline;
  transition: all ease 1s;
}

a:hover:after{
  content: " uwu";
}


h1{
  font-family: Bebas Neue;
  color: blueviolet;
  font-size: 70px;

}
h2{
  font-family: Story Script;
  color: red;

}

#bloque {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: min(calc(90% - 2rem), 500px);
    height:auto;
    padding: 1rem;
    margin: auto;
    background: white;
    border-radius: .5rem;
    z-index: 9999;
}

p{
  padding:0.5rem 0;
}

nav{
  margin:1rem 0;  
}

nav a{
  line-height: 1;
  text-decoration: none;
  color:black;
  margin:0 1rem 0 0;
  padding:0.3rem 1rem;
  background:var(--esperando);
  border-radius: .6rem;
  transition:all ease .75s;
}

nav a:hover{
  color:white;
  background:var(--flotando);  
  transition:all ease .75s;
}

nav a.active{
  color:black;
  background:var(--mostrando);
}
